/**** evidence	upload  form  *****/
/* Buttons
------------------------------------------ */
.file-gallery .file-btn {
	float: right;
	border: none;
	padding: 0;
	margin: 0;
	box-shadow: none;
}

/* Upload Button
------------------------------------------ */
.file-gallery .file-upload-button {
	display: inline;
	min-width: 120px;
	padding: 7px 10px;
	float: left;
	text-align: center;
	background: #00ABC7;
	font-size: 12px;
	color: #FFFFFF;
	border-radius: 2px;
	border: 1px solid #37B7CC;
	box-shadow: 0 1px 1px rgba(255, 255, 255, 0.37) inset,
	1px 0 1px rgba(255, 255, 255, 0.07) inset,
	0 1px 0 rgba(0, 0, 0, 0.36),
	0 -2px 12px rgba(0, 0, 0, 0.08) inset
}

.file-gallery .file-upload-button span {
	font-size: 10px !important;
	font-style: italic;
}

input.file-input {
	position: absolute;
	right: 0px;
	top: 0px;
	font-family: Arial;
	font-size: 118px;
	margin: 0px;
	padding: 0px;
	cursor: pointer;
	opacity: 0;
	height: 100%;
}

/* Image Zone
------------------------------------------ */
ul.file-upload-list-selector.file-upload-list li {
	background: #EBF6E0;
}

ul.file-upload-list-selector.file-upload-list li div.file-thumbnail-wrapper {
	background: #fff;
}

ul.file-upload-list-selector.file-upload-list li div.file-thumbnail-wrapper img {
	max-width: 115px;
	border-radius: 5px;
	border: #fff 2px solid;
}

.file-gallery{
	position: relative;
	min-height: 200px;
	overflow-y: hidden;
	width: inherit;
	border-radius: 6px;
	border: 1px dashed #CCCCCC;
	background-color: #FAFAFA;
	padding: 20px;
}

.file-gallery.file-uploader:before {
	content: attr(data-area-text) " ";
	position: absolute;
	font-size: 200%;
	left: 0;
	width: 100%;
	text-align: center;
	top: 45%;
	opacity: 0.25;
	filter: alpha(opacity=25);
}

.file-gallery .file-upload-drop-area, .file-upload-extra-drop-area {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	min-height: 30px;
	z-index: 2;
	background: #F9F9F9;
	border-radius: 4px;
	text-align: center;
}

.file-gallery .file-upload-drop-area span {
	display: block;
	position: absolute;
	top: 50%;
	width: 100%;
	margin-top: -8px;
	font-size: 16px;
}

.file-gallery .file-upload-extra-drop-area {
	position: relative;
	margin-top: 50px;
	font-size: 16px;
	padding-top: 30px;
	height: 20px;
	min-height: 40px;
}

.file-gallery .file-upload-list {
	margin: 0;
	padding: 10px 0 0;
	list-style: none;
	max-height: 450px;
	overflow-y: auto;
	clear: both;
	box-shadow: none;
}

/* Uploaded Elements
------------------------------------------ */
.file-gallery .file-upload-list li {
	display: inline-block;
	position: relative;
	max-width: 120px;
	margin: 0 25px 25px 0;
	padding: 0;
	line-height: 16px;
	font-size: 13px;
	color: #424242;
	background-color: #FFFFFF;
	border-radius: 2px;
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.22);
	vertical-align: top;
	height: 186px;
}

.file-gallery .file-upload-size,
.file-gallery .file-upload-delete {
	display: inline;
}

.file-gallery .file-upload-delete:hover {
	background-color: transparent;
}

.file-gallery .file-upload-delete {
	cursor: pointer;
}

.file-gallery .file-upload-delete {
	border: none;
	background: none;
	color: #00A0BA;
	font-size: 12px;
	padding: 0;
}

.file-gallery .file-file-info {
	padding: 10px 6px 4px;
	margin-top: -3px;
	border-radius: 0 0 2px 2px;
	text-align: left;
	overflow: hidden;
}

.file-gallery .file-file-info .file-file-name {
	position: relative;
}

.file-gallery .file-upload-file {
	display: block;
	margin-right: 0;
	margin-bottom: 3px;
	width: auto;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow-x: hidden;
}

.file-gallery .file-upload-list li.file-upload-success {
	background-color: #F2F7ED;
}

.file-gallery .file-upload-size {
	float: left;
	font-size: 11px;
	color: #929292;
	margin-bottom: 3px;
	margin-right: 0;
	display: inline-block;
}

/* Thumbnail
------------------------------------------ */
.file-gallery .file-thumbnail-wrapper {
	overflow: hidden;
	position: relative;
	height: 120px;
	width: 120px;
}

.file-gallery .file-thumbnail-selector {
	border-radius: 2px 2px 0 0;
	bottom: 0;
	top: 0;
	margin: auto;
	display: block;
}

:root * > .file-gallery .file-thumbnail-selector {
	position: relative;
	top: 50%;
	transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
}

.file-uploader-selector.file-uploader.file-gallery .uploader-attention {
	height: 50px;
	width: 40%;
	float: right;
	margin-top: -10px;
	color: #993333;
}

.file-uploader-selector.file-uploader.file-gallery .file-upload-button {
	position: relative;
	overflow: hidden;
	direction: ltr;
}

.file-upload-delete-selector.file-upload-delete .icon-trash{
	background: url(img/trash.gif);
	display: inline-block;
    width: 15px;
    height: 15px;
    vertical-align: text-bottom;
}

.file-uploader-selector.file-uploader.file-gallery {
	max-width: 735px;
}

.file-container {
	position: relative;
	border: 1px dashed #CCCCCC;
	background-color: #FAFAFA;
	padding: 10px;
}

.file-container .file-thumbnail-wrapper {
	width: inherit;
	margin: 5px auto;
}

.file-container .file-thumbnail-wrapper img {
	border: 5px solid #EBF6E0;
	border-radius: 10px;
	margin: 0 auto;
	display: block
}

.file-container .evidence-display-text {
	margin-top: 10px;
	border-radius: 10px;
	background: #fff;
	padding: 15px;
}

.file-container .evidence-display-text span a, .file-container .evidence-display-text .btn {
	color: #fff;
}
